<div *ngIf="currentTutorial" class="edit-form">
  <h4>Producto</h4>
  <form>
    <div class="form-group">
      <label for="title">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="currentTutorial.title"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="currentTutorial.description"
        name="description"
      />
    </div>
    <div class="form-group">
      <label for="price">Precio</label>
      <input
        type="number"
        class="form-control"
        id="price"
        [(ngModel)]="currentTutorial.price"
        name="price"
      />
    </div>

    <div class="form-group">
      <label><strong>Estado:</strong></label>
      {{ currentTutorial.published ? "Publicado" : "Pendiente" }}
    </div>
  </form>

  <button
    class="badge badge-primary mr-2"
    *ngIf="currentTutorial.published"
    (click)="updatePublished(false)"
  >
    No Publicar
  </button>
  <button
    *ngIf="!currentTutorial.published"
    class="badge badge-primary mr-2"
    (click)="updatePublished(true)"
  >
    Publicar
  </button>

  <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
    Eliminar
  </button>

  <button type="submit" class="badge badge-success" (click)="updateTutorial()">
    Actualizar
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentTutorial">
  <br />
  <p>No se pudo acceder al Producto...</p>
</div>
